@charset "UTF-8";
/**
* scss読み込み
* ====================================== */
/**
* 変数
* ====================================== */
.bg--pink {
  background: #c586a6; }

.bg--blue {
  background: #6ab2c2; }

.bg--red {
  background: #b67575; }

.bg--green {
  background: #6fbc9b; }

.bg--yellow {
  background: #bcba6f; }

.bg--orange {
  background: #bc936f; }

.bg--purple {
  background: #8775b7; }

.bg--white {
  background: #f4f4f4; }

/**
* mixin
* ====================================== */
/**
* 全体
* ====================================== */
body {
  background: #f4f4f4;
  font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  letter-spacing: 0.05em;
  overflow-x: hidden; }

body, h1, h2, p, ul {
  margin: 0;
  padding: 0; }

h1, p {
  color: #353535; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: #353535; }

button {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px; }

/**
* Header
* ====================================== */
.header {
  width: 100%;
  padding: 20px 0;
  text-align: center; }

.header__logo {
  margin: 0 auto; }

.header__logo--img {
  width: 130px;
  height: auto; }

.header__text {
  font-size: 12px; }

/**
* Navigation
* ====================================== */
.nav {
  width: 100%;
  background: #353535;
  margin-bottom: 50px; }
  .nav.topFixed {
    position: fixed;
    top: 0;
    z-index: 200;
    background: rgba(53, 53, 53, 0.9); }
  @media (max-width: 767px) {
    .nav {
      width: 100%;
      height: 100vh;
      position: fixed;
      right: -100%;
      top: 0;
      opacity: .9;
      -webkit-transition: .5s;
      transition: .5s;
      padding-top: 100px;
      z-index: 200; }
      .nav.active {
        overflow: hidden;
        right: 0;
        -webkit-transition: .5s;
        transition: .5s; } }

/* Navigation 開閉アイコン */
.nav__btn {
  display: none;
  position: fixed;
  top: 5%;
  right: 5%;
  cursor: pointer;
  z-index: 201; }
  .nav__btn span {
    display: block;
    width: 30px;
    height: 3px;
    background: #848484;
    margin-bottom: 7px;
    -webkit-transition: all .5s;
    transition: all .5s; }
  .nav__btn.active span:nth-child(1) {
    -webkit-transform: translateY(10px) rotate(-45deg);
            transform: translateY(10px) rotate(-45deg);
    background: #f4f4f4; }
  .nav__btn.active span:nth-child(2) {
    opacity: 0; }
  .nav__btn.active span:nth-child(3) {
    -webkit-transform: translateY(-10px) rotate(45deg);
            transform: translateY(-10px) rotate(45deg);
    background: #f4f4f4; }
  @media (max-width: 767px) {
    .nav__btn {
      display: block; } }

/* Navigation リスト */
.nav__list {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between; }
  @media (max-width: 767px) {
    .nav__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column; } }

.nav__item {
  -webkit-box-flex: 1;
          flex: 1;
  text-align: center;
  overflow: hidden;
  -webkit-transition: .5s;
  transition: .5s;
  position: relative; }
  .nav__item:before {
    content: "";
    width: 0;
    height: 130%;
    position: absolute;
    right: -20%;
    top: 0;
    -webkit-transform: skewX(30deg);
            transform: skewX(30deg);
    -webkit-transition: .5s;
    transition: .5s; }
  .nav__item.-pink:before {
    background: #c586a6; }
  .nav__item.-blue:before {
    background: #6ab2c2; }
  .nav__item.-red:before {
    background: #b67575; }
  .nav__item.-orange:before {
    background: #bc936f; }
  .nav__item.-green:before {
    background: #6fbc9b; }
  .nav__item.-yellow:before {
    background: #bcba6f; }
  .nav__item.-purple:before {
    background: #8775b7; }
  .nav__item:hover:before {
    width: 150%;
    left: -20%; }

.nav__link {
  padding: 10px 20px;
  display: block;
  font-size: 13px;
  color: #f4f4f4;
  position: relative; }
  @media (max-width: 767px) {
    .nav__link {
      padding: 24px 0;
      font-size: 16px; } }

/**
* Footer
* ====================================== */
.footer {
  width: 100%;
  padding: 50px 0;
  background: #353535;
  text-align: center; }

.footer__text {
  font-size: 14px;
  color: #f4f4f4;
  margin-bottom: 10px; }

.footer__logo--img {
  width: 300px;
  height: auto; }

.footer__snsList {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  margin-bottom: 50px; }

.footer__snsItem:not(:last-child) {
  margin-right: 10px; }

.footer__snsLink {
  display: block;
  width: 40px;
  height: 40px;
  font-size: 20px;
  text-align: center;
  color: #353535;
  line-height: 40px;
  background: #f4f4f4;
  border-radius: 50%;
  -webkit-transition: .3s;
  transition: .3s; }
  .footer__snsLink:hover {
    -webkit-transition: .3s;
    transition: .3s;
    color: #f4f4f4; }
  .footer__snsLink.-twitter:hover {
    background: #00acee; }
  .footer__snsLink.-facebook:hover {
    background: #3b5998; }
  .footer__snsLink.-instagram:hover {
    background: #cf2e92; }

.footer__linkList {
  display: -webkit-box;
  display: flex;
  justify-content: space-around; }
  @media (max-width: 767px) {
    .footer__linkList {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column; } }

.footer__linkList {
  margin-bottom: 40px; }
  @media (max-width: 767px) {
    .footer__linkList {
      border-bottom: 1px solid #848484;
      padding-bottom: 20px; } }

@media (max-width: 767px) {
  .footer__linkItem {
    margin-bottom: 20px; } }

.footer__link {
  font-size: 16px;
  color: #f4f4f4;
  -webkit-transition: .3s;
  transition: .3s;
  position: relative; }
  .footer__link:before {
    content: "";
    width: 0;
    height: 1px;
    background: #f4f4f4;
    position: absolute;
    bottom: -2px;
    right: 0;
    -webkit-transition: .3s;
    transition: .3s; }
  .footer__link.-pink:before {
    background: #c586a6; }
  .footer__link.-blue:before {
    background: #6ab2c2; }
  .footer__link.-red:before {
    background: #b67575; }
  .footer__link.-orange:before {
    background: #bc936f; }
  .footer__link.-green:before {
    background: #6fbc9b; }
  .footer__link.-yellow:before {
    background: #bcba6f; }
  .footer__link.-purple:before {
    background: #8775b7; }
  .footer__link:hover:before {
    -webkit-transition: .3s;
    transition: .3s;
    width: 100%;
    left: 0; }
  .footer__link.-pink:hover {
    color: #c586a6; }
  .footer__link.-blue:hover {
    color: #6ab2c2; }
  .footer__link.-red:hover {
    color: #b67575; }
  .footer__link.-orange:hover {
    color: #bc936f; }
  .footer__link.-green:hover {
    color: #6fbc9b; }
  .footer__link.-yellow:hover {
    color: #bcba6f; }
  .footer__link.-purple:hover {
    color: #8775b7; }

.footer__aboutLinkList {
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px; }
  @media (max-width: 767px) {
    .footer__aboutLinkList {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column; } }

.footer__aboutLink {
  font-size: 13px;
  color: #848484;
  -webkit-transition: .3s;
  transition: .3s; }
  .footer__aboutLink:hover {
    -webkit-transition: .3s;
    transition: .3s;
    color: #f4f4f4; }

.footer__copy {
  font-size: 10px;
  color: #848484; }

/**
* Main
* ====================================== */
/**
* 画像スライダー
* ====================================== */
.slider {
  padding-bottom: 50px; }

.slider__main {
  width: 100%;
  margin-bottom: 20px; }

.slider__display {
  max-width: 900px;
  margin: 0 auto;
  padding: 35% 0 0;
  position: relative;
  overflow: hidden; }
  @media (max-width: 991px) {
    .slider__display {
      padding: 50% 0 0; } }
  @media (max-width: 575px) {
    .slider__display {
      padding: 55% 0 0;
      width: 100%; } }

.slider__arrow {
  display: block;
  width: 20px;
  height: 70px;
  position: absolute;
  top: 45%;
  bottom: 55%;
  z-index: 101;
  cursor: pointer; }
  .slider__arrow.-prev {
    border-top: 2px solid #f4f4f4;
    border-left: 2px solid #f4f4f4;
    -webkit-transform: skew(-50deg) rotate(-90deg);
            transform: skew(-50deg) rotate(-90deg);
    left: 50px; }
  .slider__arrow.-next {
    border-top: 2px solid #f4f4f4;
    border-right: 2px solid #f4f4f4;
    -webkit-transform: skew(50deg) rotate(90deg);
            transform: skew(50deg) rotate(90deg);
    right: 50px; }

.slider__list {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; }

.slider__item {
  width: 100%;
  height: 100%;
  position: relative; }
  .slider__item:nth-child(n+1) {
    position: absolute;
    left: 0; }

.slider__item--title {
  width: 100%;
  padding: 10px;
  position: absolute;
  bottom: 0;
  background: rgba(244, 244, 244, 0.9);
  font-size: 16px;
  line-height: 18px;
  color: #353535;
  font-weight: lighter;
  z-index: 101;
  box-sizing: border-box; }
  @media (max-width: 380px) {
    .slider__item--title {
      font-size: 13px;
      line-height: 14px;
      padding: 5px; } }

.slider__item--img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

/* -------------------------------------
スライダー サムネイル
------------------------------------- */
.slider__thumList {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between; }

.slider__thumItem {
  margin-right: 5px;
  -webkit-transition: .3s;
  transition: .3s;
  opacity: .8;
  cursor: pointer;
  position: relative;
  z-index: 150; }
  .slider__thumItem.active {
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    box-shadow: 0 0 5px #353535;
    opacity: 1;
    z-index: 151; }
  .slider__thumItem:last-child {
    margin-right: 0; }

.slider__thumItem--img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }
  .slider__thumItem--img.active {
    opacity: 1; }

/**
* モーダル
* ====================================== */
.modal__frame {
  width: 80%;
  height: 80%;
  background: #fff;
  padding: 30px;
  border-radius: 2px;
  z-index: 301;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow-y: scroll;
  overflow-x: hidden;
  display: none; }

.modal__closeBtn {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 15px;
  right: 5px;
  cursor: pointer;
  z-index: 302; }
  @media (max-width: 380px) {
    .modal__closeBtn {
      width: 20px;
      height: 20px;
      top: 5px;
      right: 10px; } }

.modal__closeBtnItem {
  display: block;
  width: 30px;
  height: 2px;
  background: #848484; }
  .modal__closeBtnItem.-btn1 {
    -webkit-transform: translateY(2px) rotate(45deg);
            transform: translateY(2px) rotate(45deg); }
  .modal__closeBtnItem.-btn2 {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.modal__iframeWrap {
  position: relative;
  width: 90%;
  margin: 0 auto 20px auto; }
  .modal__iframeWrap:before {
    content: "";
    display: block;
    padding-top: 56.25%; }
  .modal__iframeWrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  @media (max-width: 575px) {
    .modal__iframeWrap {
      width: 100%; } }

.modal__textWrap {
  width: 90%;
  margin: 0 auto; }
  @media (max-width: 575px) {
    .modal__textWrap {
      width: 100%;
      margin: 0; } }

.modal__title {
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 1.2em;
  font-weight: lighter; }

.modal__channel {
  font-size: 13px;
  color: #848484;
  margin-bottom: 10px; }

.modal__option {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px dotted #848484;
  margin-bottom: 20px; }

.modal__category--tag {
  height: 20px;
  padding: 0 10px;
  font-size: 13px;
  color: #f4f4f4;
  line-height: 20px; }

.modal__laterBtn {
  padding: 0 10px;
  height: 30px;
  background: #848484;
  border-radius: 2px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s; }
  .modal__laterBtn:hover {
    -webkit-transition: .3s;
    transition: .3s;
    opacity: .8; }

.laterBtn--icon {
  width: 20px;
  height: 20px;
  border: 1px solid #f4f4f4;
  border-radius: 50%;
  position: relative; }
  .laterBtn--icon:before {
    content: "";
    width: 7px;
    height: 9px;
    border-left: 1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
    position: absolute;
    top: 2px;
    left: 9px; }

.modal__laterBtn--text {
  font-size: 14px;
  color: #f4f4f4;
  margin-left: 10px; }

.modal__highlight--title {
  font-size: 24px;
  color: #848484;
  font-weight: lighter;
  margin-bottom: 10px; }

.modal__highlight--list {
  border: 1px solid #848484;
  border-radius: 2px;
  padding: 10px 10px 10px 30px;
  list-style: inside; }

.modal__highlight--item {
  font-size: 13px;
  color: #353535; }

.modal__back {
  width: 100%;
  height: 100%;
  background: rgba(53, 53, 53, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  display: none;
  cursor: pointer; }

/**
* Category--1
* ====================================== */
/* 記事全体 */
.category {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 50px; }
  .category.-ranking {
    width: 100%;
    padding: 50px 0;
    background: center/cover no-repeat url(../../dist/img/ranking_back.png); }

/* 記事タイトル */
.category__head {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  margin-bottom: 20px; }
  @media (max-width: 575px) {
    .category__head {
      display: block;
      overflow: hidden; } }

.category__title {
  color: #848484;
  font-size: 36px;
  line-height: 30px;
  font-weight: lighter; }
  .category__title.-ranking {
    color: #f4f4f4; }
  @media (max-width: 575px) {
    .category__title {
      margin-bottom: 20px; } }

.category__titleLine {
  display: block;
  width: 2px;
  height: 30px;
  float: left;
  margin-right: 10px; }

/* MOREボタン */
.category__moreBtn {
  width: 150px;
  height: 30px;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: .3em;
  font-weight: lighter;
  color: #848484;
  border: 1px solid #848484;
  cursor: pointer;
  position: relative;
  -webkit-transition: .3s;
  transition: .3s; }
  .category__moreBtn.-ranking {
    color: #f4f4f4;
    border: 1px solid #f4f4f4; }
  .category__moreBtn:before {
    content: "";
    width: 12px;
    height: 12px;
    border-top: 1px solid #848484;
    border-right: 1px solid #848484;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    position: absolute;
    top: 8px;
    right: 20px;
    -webkit-transition: .3s;
    transition: .3s; }
  .category__moreBtn.-ranking:before {
    border-top: 1px solid #f4f4f4;
    border-right: 1px solid #f4f4f4; }
  .category__moreBtn:hover {
    background: #848484; }
  .category__moreBtn:hover:before {
    -webkit-transition: .3s;
    transition: .3s;
    right: 10px;
    border-top: 1px solid #f4f4f4;
    border-right: 1px solid #f4f4f4; }
  @media (max-width: 575px) {
    .category__moreBtn {
      float: right; } }

.category__moreBtn--link {
  display: block;
  color: #353535;
  -webkit-transition: .3s;
  transition: .3s; }
  .category__moreBtn--link:hover {
    color: #f4f4f4;
    -webkit-transition: .3s;
    transition: .3s; }
  .category__moreBtn--link.-ranking {
    color: #f4f4f4; }

/* 記事リスト */
.article__list {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  flex-wrap: wrap;
  width: 100%; }
  @media (max-width: 575px) {
    .article__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column; } }

/* 記事単体 */
.article__item {
  width: 24%;
  box-shadow: 0 0 5px #848484;
  border-radius: 2px;
  margin-bottom: 10px;
  background: #f4f4f4;
  overflow: hidden;
  position: relative; }
  .article__item.-ranking {
    width: 19%;
    color: #f4f4f4;
    font-size: 13px; }
  @media (max-width: 767px) {
    .article__item {
      width: 49%; }
      .article__item.-ranking {
        width: 49%; } }
  @media (max-width: 575px) {
    .article__item {
      width: 100%; }
      .article__item.-ranking {
        width: 100%; } }

.article__item--imgWrap {
  position: relative;
  cursor: pointer; }

.article__item--img {
  width: 100%;
  height: 100%; }

.article__item--hover {
  display: none;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; }

.article__item--hoverIcon {
  width: 70px;
  height: 70px;
  border: 1px solid #f4f4f4;
  border-radius: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2; }
  .article__item--hoverIcon:before {
    content: "";
    width: 40%;
    height: 40%;
    border-top: 1px solid #f4f4f4;
    border-right: 1px solid #f4f4f4;
    position: absolute;
    top: 50%;
    left: 40%;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg); }

.category__tag {
  width: 100px;
  height: 20px;
  font-size: 12px;
  color: #f4f4f4;
  line-height: 20px;
  padding: 0 10px;
  margin-bottom: 5px; }

.article__item--title {
  font-size: 18px;
  line-height: 22px;
  font-weight: lighter;
  padding: 0 10px 10px 10px; }
  .article__item--title.-ranking {
    font-size: 13px;
    line-height: 16px; }
  .article__item--title:hover {
    cursor: pointer;
    opacity: .8; }
  @media (max-width: 767px) {
    .article__item--title.-ranking {
      font-size: 18px;
      line-height: 22px; } }

.article__laterBtn {
  padding: 5px;
  background: #848484;
  border-radius: 2px;
  position: absolute;
  bottom: 2px;
  right: 2px;
  z-index: 3;
  cursor: pointer; }
  .article__laterBtn.action {
    background: #bcba6f;
    pointer-events: none;
    cursor: default; }

/**
* Category--Ranking
* ====================================== */
.ranking__tab {
  display: -webkit-box;
  display: flex;
  margin-bottom: 30px; }

.ranking__tabItem {
  margin-right: 30px; }

.ranking__tabItemLink {
  font-size: 14px;
  color: #f4f4f4;
  position: relative;
  -webkit-transition: .3s;
  transition: .3s; }
  .ranking__tabItemLink:before {
    content: "";
    width: 0;
    height: 1px;
    background: #fff;
    position: absolute;
    bottom: -2px;
    right: 0;
    -webkit-transition: .3s;
    transition: .3s; }
  .ranking__tabItemLink:hover:before {
    -webkit-transition: .3s;
    transition: .3s;
    width: 100%;
    left: 0; }

.ranking__numwrap {
  display: -webkit-box;
  display: flex; }

.ranking__num {
  font-size: 50px;
  color: #848484;
  padding-left: 10px; }

.later__btn {
  -webkit-transition: opacity .3s;
  transition: opacity .3s; }
  .later__btn:hover {
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    opacity: .8; }
  .later__btn.action {
    background: #bcba6f; }
